.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__official {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        color: #FFF;
        font-size: 1.2rem;
        font-weight: 500;
        
        span{
            color: #FFF;
            font-size: 1.8rem;
            font-weight: 500;  
        }  
    }


    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 0.7rem;
        
        a{
            font-size: 1.8rem;
            font-weight: 700; 
            color:#FFF;
        }
      
    }
}