
.title{
    color: #0D0D0D;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;     
    
}

.title_second{
    padding-top: 7.3rem;
    padding-bottom: 6.5rem;
}
