.catalog {
    &__title {
        margin-bottom: 4.6rem;
        color: #0D0D0D;
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
        line-height: 4.5rem; /* 150% */
        text-transform: uppercase;
    }

    &__tabs {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    }

    &__tab {
        width: 22.3rem;
        height: 5.2rem;
        border: 0.2rem solid #D0D0D0;
        background-color: transparent;
        color: #6B6B6B;
        transform: skewX(-30deg);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s all;

        &__content {
            transform: skewX(30deg);
            text-align: center;
            font-family: 'Museo Sans Cyrl', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 100% */
            text-transform: uppercase;

        }

        &_active {
            color: white;
            background-color: $main-color;
            border: none;
        }
    }
}


.catalog__content{
    margin-top: 5.7rem;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    &__item {
        min-height: 32rem;
        border: 0.2rem solid #E8E8E8;
        overflow: hidden;
    }

    &__wrapper {
        display: flex;
        width: calc(200% + 40px);
    }

    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 47%;
        transition: .5s all;
        hr{
            margin-top: 1.7rem;
            height: 0.4rem;
            width: 26.3rem;
            border: none;
            background-color: #E8E8E8;
        }

        &_active {
            transform: translateX(100%);
        }
    }

    &__list {
        width: 47%;
        padding: 2rem;
        transition: .5s all;
        &_active {
            transform: translateX(-100%);
        }
    }

    &__img{
        width: 14rem;
        height: 20rem;
        margin-top: 2rem;
    }

    &__name{
        margin-top: 1.5rem;
        color: #0D0D0D;
        font-size: 1.6rem;
        font-weight: 700;       
    }

    &__descr{
        margin-top: 1.5rem;
        color: #0D0D0D;
        font-size: 1.4rem;
        font-weight: 300;        
    }
    &__price{
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        .strikethrough {
            color: #050505;
            font-size: 2rem;
            font-weight: 700;
            line-height: 2rem; /* 100% */  
            text-decoration:none; 
            width: 12.7rem;
            span {
                text-decoration:none;
                width: 12.7rem;
                color: #555;
                font-size: 1.4rem;
                font-weight: 300;
                line-height: 1.4rem;
            }
        }
    }

    &_active {
        display: grid;
    }
}
