.consultation{
    background: url('../img/bg2.png')center center/cover no-repeat;
    &__title{
        color: #FFF;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 5.4rem; 
        text-transform: uppercase;  
        padding-top: 10rem;      
    }

    &__subtitle{
        color: #FFF;
        font-size: 2rem;
        font-weight: 500;
        line-height: 3rem; /* 150% */
        padding: 0.8rem 0 3.6rem;
    }
    &__button{
        margin-top: 0.5rem;
        margin-bottom: 10.8rem;
    }
}
