* {
  font-family: "Museo Sans Cyrl", sans-serif;
}

html {
  font-size: 10px;
}

@font-face {
  font-family: Museo Sans Cyrl;
  src: url(../../fonts/MuseoSansCyrl-300.woff);
  src: url(../../fonts/MuseoSansCyrl-300Italic.woff);
  font-weight: 300;
}
@font-face {
  font-family: Museo Sans Cyrl;
  src: url(../../fonts/MuseoSansCyrl-500.woff);
  src: url(../../fonts/MuseoSansCyrl-500Italic.woff);
  font-weight: 500;
}
@font-face {
  font-family: Museo Sans Cyrl;
  src: url(../../fonts/MuseoSansCyrl-700.woff);
  src: url(../../fonts/MuseoSansCyrl-700Italic.woff);
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

iframe {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo {
  min-height: 65rem;
  padding: 2.1rem 0 9.3rem 0;
  background: url("../img/bg.png") center center/cover no-repeat;
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.promo__header {
  margin-top: 9.4rem;
  color: #FFF;
  text-align: right;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 4.2rem;
  text-transform: uppercase;
}
.promo__subheader {
  margin: 1.7rem 0 6rem;
  color: #FFF;
  text-align: right;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.4rem;
  text-transform: uppercase;
}
.promo__advantages {
  display: flex;
  width: 424px;
  height: 96px;
  margin-bottom: 6.8rem;
}
.promo__advantages span {
  color: #FFF;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem; /* 100% */
}
.promo__offer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo .promo-icon {
  margin-bottom: 2rem;
  width: 4.2rem;
  height: 4.6rem;
}
.promo__catalog {
  margin-top: 1rem;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 500;
}
.promo__catalog a {
  color: #FFF;
}

.advantages {
  background-color: #F6F6F6;
}
.advantages__subtitle {
  margin-top: 3rem;
  color: #0D0D0D;
  font-size: 1.8rem;
  font-weight: 700;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
}
.advantages__item img {
  width: 7rem;
  height: 7rem;
}
.advantages__descr {
  margin-top: 2rem;
  color: #0D0D0D;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8rem;
}
.advantages__descr span {
  color: #f00;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8rem;
  text-decoration-line: underline;
}

.advantages-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 26.9rem;
}

.advantages-types {
  display: flex;
  justify-content: space-between;
}
.advantages-types_main {
  padding-bottom: 8.3rem;
}

.consultation {
  background: url("../img/bg2.png") center center/cover no-repeat;
}
.consultation__title {
  color: #FFF;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 5.4rem;
  text-transform: uppercase;
  padding-top: 10rem;
}
.consultation__subtitle {
  color: #FFF;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem; /* 150% */
  padding: 0.8rem 0 3.6rem;
}
.consultation__button {
  margin-top: 0.5rem;
  margin-bottom: 10.8rem;
}

.scroll {
  padding: 8.1rem;
}
.scroll .slider {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
.scroll .slider__item img {
  margin: 0 auto;
}
.scroll .slick-prev,
.scroll .slick-next {
  border: none;
  background-color: transparent;
}

.catalog__title {
  margin-bottom: 4.6rem;
  color: #0D0D0D;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4.5rem; /* 150% */
  text-transform: uppercase;
}
.catalog__tabs {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
.catalog__tab {
  width: 22.3rem;
  height: 5.2rem;
  border: 0.2rem solid #D0D0D0;
  background-color: transparent;
  color: #6B6B6B;
  transform: skewX(-30deg);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s all;
}
.catalog__tab__content {
  transform: skewX(30deg);
  text-align: center;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  text-transform: uppercase;
}
.catalog__tab_active {
  color: white;
  background-color: #c70101;
  border: none;
}

.catalog__content {
  margin-top: 5.7rem;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.catalog__content__item {
  min-height: 32rem;
  border: 0.2rem solid #E8E8E8;
  overflow: hidden;
}
.catalog__content__wrapper {
  display: flex;
  width: calc(200% + 40px);
}
.catalog__content__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 47%;
  transition: 0.5s all;
}
.catalog__content__info hr {
  margin-top: 1.7rem;
  height: 0.4rem;
  width: 26.3rem;
  border: none;
  background-color: #E8E8E8;
}
.catalog__content__info_active {
  transform: translateX(100%);
}
.catalog__content__list {
  width: 47%;
  padding: 2rem;
  transition: 0.5s all;
}
.catalog__content__list_active {
  transform: translateX(-100%);
}
.catalog__content__img {
  width: 14rem;
  height: 20rem;
  margin-top: 2rem;
}
.catalog__content__name {
  margin-top: 1.5rem;
  color: #0D0D0D;
  font-size: 1.6rem;
  font-weight: 700;
}
.catalog__content__descr {
  margin-top: 1.5rem;
  color: #0D0D0D;
  font-size: 1.4rem;
  font-weight: 300;
}
.catalog__content__price {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.catalog__content__price .strikethrough {
  color: #050505;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem; /* 100% */
  text-decoration: none;
  width: 12.7rem;
}
.catalog__content__price .strikethrough span {
  text-decoration: none;
  width: 12.7rem;
  color: #555;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4rem;
}
.catalog__content_active {
  display: grid;
}

.reviews {
  margin-top: 10rem;
}
.reviews .reviews-person {
  display: flex;
  gap: 6.2rem;
  margin-top: 6rem;
}
.reviews .reviews-person__img {
  width: 16.9rem;
  height: 16.9rem;
}
.reviews .reviews-person__name {
  color: #0D0D0D;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px; /* 100% */
}
.reviews .reviews-person__name span {
  color: #646464;
  font-size: 14px;
  font-weight: 500;
}
.reviews .reviews-person__desrc {
  margin-top: 1rem;
  color: #0D0D0D;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px; /* 150% */
}

.maps {
  height: 63rem;
  position: relative;
  margin-top: 4.9rem;
}
.maps__number {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  color: #FFF;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem; /* 100% */
}
.maps__address {
  padding-top: 3.6rem;
  display: flex;
  justify-content: center;
  color: #FFF;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem; /* 100% */
}
.maps__inner {
  background-color: #c70101;
  width: 46rem;
  height: 27rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.maps__item {
  border-radius: 50%;
  border: 0.2rem solid #FFF;
  padding: 1.4rem;
}
.maps__social {
  margin-top: 3.6rem;
  display: flex;
  justify-content: center;
  gap: 2.7rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__official {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: 500;
}
.header__official span {
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 500;
}
.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.7rem;
}
.header__contacts a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #FFF;
}

.button {
  width: 15rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #c70101;
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.button_main {
  width: 30rem;
  height: 5rem;
  font-size: 1.6rem;
}

.button__product {
  margin-top: 1rem;
  background-color: transparent;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  border: none;
  color: #c70101;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem;
  cursor: pointer;
}

.button-buy {
  color: #fff;
  background-color: #c70101;
  width: 13.5rem;
  height: 4.4rem;
  border: none;
  border-radius: 0.5rem;
}

.title {
  color: #0D0D0D;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
}

.title_second {
  padding-top: 7.3rem;
  padding-bottom: 6.5rem;
}

.container {
  max-width: 95rem;
  margin: 0 auto;
}

.consultation-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.consultation-form__input {
  width: 30.3rem;
  height: 5.4rem;
  border-radius: 0.5rem;
  gap: 1.1rem;
  padding-left: 2rem;
  color: #4B4B4B;
  font-size: 1.4rem;
  font-weight: 400;
  border: none;
}
.consultation-form__input::placeholder {
  color: black;
}

.feed-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.1rem;
}
.feed-form input {
  width: 30rem;
  height: 54px;
  border: none;
  padding: 0 20px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.56);
}
.overlay_none {
  display: none;
}

.modal {
  width: 38.2rem;
  margin: 10em auto 0;
  padding: 2.8rem 3rem 4rem;
  background-color: #F2F2F2;
  position: relative;
}
.modal__subtitle {
  text-align: center;
  font-size: 19px;
  font-weight: 700;
  line-height: 19px; /* 100% */
}
.modal__desc {
  margin-bottom: 2.6rem;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px; /* 100% */
}
.modal__close {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  top: 0;
  right: -4rem;
  background: url("../icons/close.svg") no-repeat center;
  background-size: cover;
}

.modal_consultation {
  display: none;
}

.modal_order {
  display: none;
}

.modal_show {
  display: block;
}

/*# sourceMappingURL=style.css.map */
