html {
    font-size: 10px;
    
}

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}


.container {
    max-width: 95rem;
    margin: 0 auto;
}

// base
@import 'base/variables';
@import 'base/fonts';
@import 'base/mixins';
@import 'base/reset';

// block
@import 'blocks/promo';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import "blocks/scroll";
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/maps';

// components

@import 'components/header';
@import 'components/buttons';
@import 'components/titles';
@import 'components/containers';
@import 'components/form';
@import "components/slick";

